.container {
    padding: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.orders-table th {
    background-color: lightskyblue;
    font-weight: bold;
}

.orders-table th,
.orders-table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

.orders-table tr.even-row {
    background-color: #f9f9f9;
}

.orders-table tr.odd-row {
    background-color: #e6e6e6;
}

